
.nav-item .active {
    background-color: white;
}

header {
    background-color: #006B99;
    position: sticky;
}

.nav .nav-link  {
    color: white;
    cursor: pointer;
    transition: color 0.5s ease;
    
}

.nav .nav-link:hover {
    color: #dcdcdc;
}

#logo {
    width: 9%;
}

footer {
    background-color: #006B99;
}




